body {
    font-family:  'Lucida Console', 'Lucida Sans', monospace;
    margin: 0;
}

.header, .hero, .footer {
    background-color: lightgreen;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.headerlogo {
    font-size: 24px;
}

.hero {
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
    gap: 20px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 300px;
    width: 380px;
    background-color: azure;
}

.left {
    width: 600px;
}

button {
    height: 30px;
    width: 80px;
}

.main {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sub {
    font-size: 18px;
    margin-bottom: 30px;
}

.information {
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    padding: 50px 0px;
}

.img {
    border-radius: 20px;
    width: 140px;
    height: 140px;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px;
    padding-top: 0px;
}

.info {
    width: 140px;
}

.quotesection {
    background-color: rgb(210, 231, 209);
    padding: 80px 140px;
}

.quotetext {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
}

em {
    font-weight: 100;
}

.quotename {
    font-size: 25px;
    text-align: end;
    padding: 0px 40px;
}

.call-to-action {
    padding: 80px 100px;
}

p {
    margin: 0;
}

.text {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 8px;
}

.action-box {
    background-color: rgb(95, 166, 187);
    border-radius: 20px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
}

.action-left {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}