body {
    margin: 0;
}

.header, .hero {
    background-color: lightgreen;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.headerlogo {
    font-size: 24px;
}

.hero {
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
    gap: 20px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 300px;
    width: 380px;
    background-color: azure;
}

.left {
    width: 600px;
}

button {
    height: 30px;
    width: 80px;
}

.main {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sub {
    font-size: 18px;
    margin-bottom: 30px;
}